/* Untuk tablet */

@media only screen and (max-width: 1000px) {
  .header-left h1{
    font-size: 50px;
  }
  .header-right button{
    width: 84px;
  }
  
  .top-wrapper h1 {
    font-size: 32px;
  }
  .body-content {
    min-height: auto;
    min-width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .left {
    flex-direction: column-reverse;
  }
  footer {
    padding: 50px;
    margin: 0 auto;
    width: 100%;
}
}

@media (max-width: 670px) {


  /* eko */
  .top-wrapper {
    text-align: center;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  input[type="email"] {
    width: 250px;
    height: 20px;
  }

  .body-content h2 {
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
  }
  .body-content p {
    font-size: 1.125rem;
    font-weight: 400;
    justify-content: center;
  }
  .text-desc {
    width: 100%;
    height: auto;
  }
  .body-wrapper {
    margin: 0 auto;
  }
  .get-started input {
    margin-bottom: 10px;
  }

  /* Almira */
  .form-top h2 {
    font-size: 2rem;
  }

  .form-top p {
    font-size: 18px;
  }

  .input-form input {
    font-size: 14px;
    width: auto;
  }

  .input-form span {
    font-size: 15px;
  }

  /* Lisma */
  footer {
    padding: 0px;
    margin: 0 auto;
    width: 100%;
}
.footer-logo {
    font-size: 2rem;
}

.footer-list2 {
    float: left;
}
}
